.ticket-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.ticket-status {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6); 
  font-style: italic;
}

.ticket-description {
  font-size: 1.05rem;
  margin-top: 0.5em;
}

.ticket-card {
    // max-width: 500px;
    // min-width: 400px;
    // max-height: 200px;
}