.ticket-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 1em;
}

.ticket-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}